@{
    ViewData["Title"] = "Home Page";
}

<div class="mainPageContent">
    <div class="mainPageImg">
        <img class = "busPic" src=~/pics/bus.png>
    </div>

    <div class="mainPageOptions">
        <h1><a  asp-area="" asp-controller="Tariff" asp-action="Index">Тарифы</a><h1>
        <h2>Узнайте больше о тарифах, предлагаемых нашей компанией</h2>

        <h1>Подвижной состав</h1>
        <h2>Список подвижного состава, используемый Рязтрансавто</h2>

        <h1>Рейсы</h1>
        <h2>Узнайте о рейсах, запланированных на завтра</h2>
    </div>
</div>