@model PurchaseViewModel

<div>
    <table>
        <tr>
            <td>
                @Model.Tariff.Name
            </td>
            <td>
                @Model.Prices
            </td>
        </tr>
    </table>
</div>
